syntax: glob
*/masks/*
*.pdf
*.tar.gz
*.mat
!matlab/m_map/private/m_coasts.mat
*.avi
*~
*.o
*.aux
*.log
*.backup
*.bak
*.swp
*.orig
*.mod
*.png
*.data
*.out
*.jpeg
*.asc
*.txt
*.meta
*.data
*.tgz
*.gz
ax*
*.exe
*.old
matlab/GSW/html/*
matlab/GSW/pdf/*
*.pdf
*.avi
m_map/*.html
.DS_Store
*.fig

syntax: regexp
.*\#.*\#$
