syntax: glob
*/masks/*
*.pdf
*.tar.gz
*.mat
!matlab/m_map/private/m_coasts.mat
*.avi
*~
*.o
*.aux
*.log
*.backup
*.bak
*.swp
*.orig
*.mod
*.png
*.data
*.out
*.jpeg
*.asc
*.txt
*.meta
*.data
*.tgz
*.tarz
*.gz
ax*
*.exe
*.old
*STDOUT.0000
*STDERR.0000
matlab/GSW/html/*
matlab/GSW/pdf/*
*.pdf
*.avi
m_map/*.html
.DS_Store
*.fig
*/hf-perturbation/*
*.nav
*.snm
*.toc
*.vrb
*.jpg
*.gif
*.fls
*.fdb_latexmk

syntax: regexp
.*\#.*\#$
