syntax: glob
*/masks/*
*.pdf
*.tar.gz
*.mat
*.avi
*~
*.o
*.aux
*.log
*.backup
*.bak
*.swp
*.orig
*.mod
*.png
*.data
*.out
*.jpeg
*.asc
*.txt
*.meta
*.data
*.tgz
*.gz
ax*
*.exe
*.old
matlab-repo/GSW/html/*
matlab-repo/GSW/pdf/*
*.pdf
*.avi
m_map/*.html
.DS_Store

syntax: regexp
.*\#.*\#$
